.drop{
    width: 96%;
    height: 80px;
    margin-top: 30px;
    margin-left: 25px;
    border: 2px solid rgb(164, 51, 10);
    border-radius: 20px;
    color: rgb(122, 7, 7);
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: rgb(246, 248, 242);
}
table{
    margin-top: 30px;
    margin-left: 20px;
    background-color: rgb(252, 217, 217);
    border: 2px solid brown;
    th{
        border: 2px solid brown;
        height: 40px;
        width: 250px;
        margin-left: 20px;
        text-align: center;
        color: rgb(108, 15, 15);
    
    }
    
    td{
        border: 2px solid brown;
        height: 130px;
    }
}
